

.product-suggestion-container {
    background-color: rgb(255, 255, 255);
    margin: 3% auto;
    padding: 1%;
    overflow-x: auto;
    width: 95%;
    
    
  }
  .product-suggestion {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }
  
  .single-product-card {
    border: 1px solid #e1e1e0;
    border-radius: 10px;
    width: 80%;
    margin-right: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    height: 285px !important;
  }
  
  .single-product-card img {
    width: 200px;
  }