.carousel-conatiner{
    background-color: red;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}
.carousel-images{
    width: 100% !important;
    height: 100%;
}
