
.basic-main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh !important;
  background-color: #131a22;
  margin: 0 !important;
  margin-top: 1px !important;
 
}

.items-container{
 
  height: 5vh;
  width: 30%;
 
  justify-content: center;
}

.footer-menu{
  padding-left: 15px;
  padding-bottom: 2px;
  color: white !important;
  font-size: 12px !important;
  text-decoration: none !important;
}

.menu-container{
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}